In [1]:
##PRACTICO 3 MENTORIA: APLICAR MODELOS PREDICTIVOS SOBRE CATEGORIAS DE USUARIOS DEL TRASNPORTE URBANO PARA MAYO 2022##
import pandas as pd 
df=pd.read_csv(r"D:\Documentos Mauricio\Desktop\Diplomatura FAMAF2022\Mentoría_Sistema de Transporte Urbano\Practico 3\base_mayo22_habil.csv")

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8430650 entries, 0 to 8430649
Data columns (total 5 columns):
 #   Column    Dtype
---  ------    -----
 0   LINEA     object
 1   SENTIDO   object
 2   FECHA     object
 3   TARJETA   int64
 4   CONTRATO  object
dtypes: int64(1), object(4)
memory usage: 321.6+ MB

In [2]:
df.head()
# LA BASE ESTA A NIVEL DE VIAJES POR TARJETA#

   LINEA SENTIDO                   FECHA  TARJETA       CONTRATO
0  L42 E     Ida  02/05/2022 04:36:14 PM  1000001  Usuario comun
1  L35 T     Ida  02/05/2022 10:22:27 PM  1000002  Usuario comun
2      C     Ida  02/05/2022 03:20:12 PM  1000003  Usuario comun
3      C  Vuelta  02/05/2022 09:18:06 AM  1000003  Usuario comun
4      C     Ida  02/05/2022 06:56:40 AM  1000004  Usuario comun

In [3]:
##1-INGENIERÍA DE CARACTERÍSTICAS##

In [4]:
import datetime as dt

In [5]:
# VARIABLE FECHA DE STRING A DATETIME##
df['Fecha2'] = pd.to_datetime(df['FECHA'], format='%d/%m/%Y %I:%M:%S %p')

In [6]:
df

,LINEA,SENTIDO,FECHA,TARJETA,CONTRATO,Fecha2
0,L42 E,Ida,02/05/2022 04:36:14 PM,1000001,Usuario comun,2022-05-02 16:36:14
1,L35 T,Ida,02/05/2022 10:22:27 PM,1000002,Usuario comun,2022-05-02 22:22:27
2,C,Ida,02/05/2022 03:20:12 PM,1000003,Usuario comun,2022-05-02 15:20:12
3,C,Vuelta,02/05/2022 09:18:06 AM,1000003,Usuario comun,2022-05-02 09:18:06
4,C,Ida,02/05/2022 06:56:40 AM,1000004,Usuario comun,2022-05-02 06:56:40
...,...,...,...,...,...,...
8430645,L80 T,Vuelta,31/05/2022 09:38:23 AM,1237215,Usuario comun,2022-05-31 09:38:23
8430646,L36 T,Ida,31/05/2022 02:39:28 PM,1677773,Usuario comun,2022-05-31 14:39:28
8430647,L25,Vuelta,31/05/2022 07:16:06 PM,1237216,Usuario comun,2022-05-31 19:16:06
8430648,L10,Ida,31/05/2022 02:00:10 PM,1237218,Usuario comun,2022-05-31 14:00:10
8430649,L32 T,Vuelta,31/05/2022 08:38:08 PM,1595584,Usuario comun,2022-05-31 20:38:08

In [8]:
## OBTENEMOS DIA DEL MES EN NOMBRE Y NUMERO##
df['dia_semana']=df['Fecha2'].dt.day_name()
df['dia_numero']= df.Fecha2.dt.strftime('%d')

In [7]:
df.head(3)

,LINEA,SENTIDO,FECHA,TARJETA,CONTRATO,Fecha2
0,L42 E,Ida,02/05/2022 04:36:14 PM,1000001,Usuario comun,2022-05-02 16:36:14
1,L35 T,Ida,02/05/2022 10:22:27 PM,1000002,Usuario comun,2022-05-02 22:22:27
2,C,Ida,02/05/2022 03:20:12 PM,1000003,Usuario comun,2022-05-02 15:20:12

In [8]:
##OBTENEMOS HORA DEL DÍA##
df['hora'] = df['Fecha2'].dt.hour
df.hora.value_counts()

7     754265
13    710736
12    677803
8     617212
14    602947
17    600389
18    562249
16    533605
15    528403
6     479279
9     468027
11    459681
10    420356
19    359144
20    219622
21    158311
22    117689
5      88751
23     51379
0      14036
4       5065
1       1225
3        343
2        133
Name: hora, dtype: int64

In [9]:
## TRANSFORMAMOS LAS ETIQUETAS DE LA VARIABLE CONTRATO EN CATEGORIAS NUMÉRICAS###
from sklearn.preprocessing import StandardScaler, LabelEncoder
df["CONTRATO2"]= LabelEncoder().fit_transform(df['CONTRATO'])

In [13]:
df.tail(50)

,LINEA,SENTIDO,FECHA,TARJETA,CONTRATO,Fecha2,hora,CONTRATO2
8430600,A600,Ida,31/05/2022 12:25:58 PM,1237194,Usuario comun,2022-05-31 12:25:58,12,6
8430601,A601,Ida,31/05/2022 09:45:50 PM,1237194,Usuario comun,2022-05-31 21:45:50,21,6
8430602,L80 T,Vuelta,31/05/2022 09:26:33 PM,1237194,Usuario comun,2022-05-31 21:26:33,21,6
8430603,L63,Ida,31/05/2022 03:01:04 PM,1520469,Usuario comun,2022-05-31 15:01:04,15,6
8430604,L64,Ida,31/05/2022 07:22:49 AM,1520469,Usuario comun,2022-05-31 07:22:49,7,6
8430605,L51,Ida,31/05/2022 04:01:08 PM,1464634,Usuario comun,2022-05-31 16:01:08,16,6
8430606,L66,Vuelta,31/05/2022 10:01:40 AM,1464634,Usuario comun,2022-05-31 10:01:40,10,6
8430607,L80 T,Vuelta,31/05/2022 01:58:32 PM,1496403,Usuario comun,2022-05-31 13:58:32,13,6
8430608,L85 T,Ida,31/05/2022 08:25:53 AM,1496403,Usuario comun,2022-05-31 08:25:53,8,6
8430609,L51,Ida,31/05/2022 02:20:16 PM,1237198,Usuario comun,2022-05-31 14:20:16,14,6
8430610,L51,Vuelta,31/05/2022 04:25:24 PM,1237198,Usuario comun,2022-05-31 16:25:24,16,6
8430611,L36 T,Vuelta,31/05/2022 08:03:17 AM,1384489,Usuario comun,2022-05-31 08:03:17,8,6
8430612,L71,Vuelta,31/05/2022 02:51:36 PM,1384489,Usuario comun,2022-05-31 14:51:36,14,6
8430613,L65,Vuelta,31/05/2022 11:08:07 AM,1384490,Usuario comun,2022-05-31 11:08:07,11,6
8430614,L12,Ida,31/05/2022 12:56:04 PM,1237200,Usuario comun,2022-05-31 12:56:04,12,6
8430615,L12,Vuelta,31/05/2022 06:50:13 AM,1237200,Usuario comun,2022-05-31 06:50:13,6,6
8430616,L52,Ida,31/05/2022 06:58:00 PM,1698082,Usuario comun,2022-05-31 18:58:00,18,6
8430617,L31 T,Ida,31/05/2022 06:26:12 PM,1520472,Usuario comun,2022-05-31 18:26:12,18,6
8430618,L29,Ida,31/05/2022 07:31:50 PM,1237203,Usuario comun,2022-05-31 19:31:50,19,6
8430619,L62,Vuelta,31/05/2022 01:28:43 PM,1237203,Usuario comun,2022-05-31 13:28:43,13,6
8430620,L81 T,Vuelta,31/05/2022 07:04:40 PM,1237203,Usuario comun,2022-05-31 19:04:40,19,6
8430621,L60,Ida,31/05/2022 10:01:14 PM,1520473,Usuario comun,2022-05-31 22:01:14,22,6
8430622,L63,Vuelta,31/05/2022 07:10:47 PM,1520473,Usuario comun,2022-05-31 19:10:47,19,6
8430623,L61,Vuelta,31/05/2022 09:23:45 PM,1540166,Usuario comun,2022-05-31 21:23:45,21,6
8430624,C,Ida,31/05/2022 02:39:24 PM,1698083,Usuario comun,2022-05-31 14:39:24,14,6
8430625,L22,Ida,31/05/2022 04:52:18 PM,1559360,Usuario comun,2022-05-31 16:52:18,16,6
8430626,L22,Vuelta,31/05/2022 05:52:14 PM,1559360,Usuario comun,2022-05-31 17:52:14,17,6
8430627,L62,Ida,31/05/2022 11:42:09 AM,1237207,Usuario comun,2022-05-31 11:42:09,11,6
8430628,L15,Ida,31/05/2022 01:43:37 PM,1237208,Usuario comun,2022-05-31 13:43:37,13,6
8430629,L15,Vuelta,31/05/2022 08:24:17 PM,1237208,Usuario comun,2022-05-31 20:24:17,20,6
8430630,L36 T,Ida,31/05/2022 09:11:44 AM,1496405,Usuario comun,2022-05-31 09:11:44,9,6
8430631,L52,Ida,31/05/2022 08:20:20 AM,1496405,Usuario comun,2022-05-31 08:20:20,8,6
8430632,B,Vuelta,31/05/2022 05:05:37 PM,1496407,Usuario comun,2022-05-31 17:05:37,17,6
8430633,L19,Ida,31/05/2022 08:31:14 AM,1237209,Usuario comun,2022-05-31 08:31:14,8,6
8430634,L67,Vuelta,31/05/2022 03:09:47 PM,1237209,Usuario comun,2022-05-31 15:09:47,15,6
8430635,L10,Vuelta,31/05/2022 10:26:09 PM,1328448,Usuario comun,2022-05-31 22:26:09,22,6
8430636,L14,Vuelta,31/05/2022 12:31:10 PM,1328448,Usuario comun,2022-05-31 12:31:10,12,6
8430637,L10,Vuelta,31/05/2022 02:01:29 PM,1698084,Usuario comun,2022-05-31 14:01:29,14,6
8430638,L34 C,Vuelta,31/05/2022 02:31:38 PM,1698084,Usuario comun,2022-05-31 14:31:38,14,6
8430639,C,Vuelta,31/05/2022 06:28:08 PM,1384498,Usuario comun,2022-05-31 18:28:08,18,6
8430640,C1,Ida,31/05/2022 11:40:14 AM,1384498,Usuario comun,2022-05-31 11:40:14,11,6
8430641,L45,Ida,31/05/2022 11:02:08 PM,1237212,Usuario comun,2022-05-31 23:02:08,23,6
8430642,L81 T,Ida,31/05/2022 07:22:45 AM,1237212,Usuario comun,2022-05-31 07:22:45,7,6
8430643,L82 T,Ida,31/05/2022 06:44:43 PM,1237212,Usuario comun,2022-05-31 18:44:43,18,6
8430644,L41 E,Ida,31/05/2022 07:03:34 PM,1237214,Usuario comun,2022-05-31 19:03:34,19,6
8430645,L80 T,Vuelta,31/05/2022 09:38:23 AM,1237215,Usuario comun,2022-05-31 09:38:23,9,6
8430646,L36 T,Ida,31/05/2022 02:39:28 PM,1677773,Usuario comun,2022-05-31 14:39:28,14,6
8430647,L25,Vuelta,31/05/2022 07:16:06 PM,1237216,Usuario comun,2022-05-31 19:16:06,19,6
8430648,L10,Ida,31/05/2022 02:00:10 PM,1237218,Usuario comun,2022-05-31 14:00:10,14,6
8430649,L32 T,Vuelta,31/05/2022 08:38:08 PM,1595584,Usuario comun,2022-05-31 20:38:08,20,6

In [22]:
df_3=df.drop_duplicates(subset=['CONTRATO2', 'LINEA'])
## CATEGORIAS DE CONTRATOS= 0 (ADULTOS MAYORES), 1 (BEG), 2(BOS), 3(BSC), 4(Discapacidad), 5(Resto), 6(usuarios comunes)

In [26]:
df_3.tail(50)

,LINEA,SENTIDO,FECHA,TARJETA,CONTRATO,Fecha2,hora,CONTRATO2
353221,L15,Vuelta,02/05/2022 08:19:03 AM,1190067,BSC,2022-05-02 08:19:03,8,3
353222,L42 E,Vuelta,02/05/2022 07:27:35 AM,1190067,BSC,2022-05-02 07:27:35,7,3
353223,L44 E,Ida,02/05/2022 03:19:19 PM,1190067,BSC,2022-05-02 15:19:19,15,3
353227,L23,Vuelta,02/05/2022 10:09:18 AM,1190070,BSC,2022-05-02 10:09:18,10,3
353228,L25,Vuelta,02/05/2022 12:12:52 PM,1190070,BSC,2022-05-02 12:12:52,12,3
353229,L50,Ida,02/05/2022 03:41:54 PM,1190071,BSC,2022-05-02 15:41:54,15,3
353231,L12,Vuelta,02/05/2022 05:40:48 PM,1190072,BSC,2022-05-02 17:40:48,17,3
353239,L72,Vuelta,02/05/2022 08:40:02 AM,1190077,BSC,2022-05-02 08:40:02,8,3
353248,L14,Vuelta,02/05/2022 03:05:05 PM,1190083,BSC,2022-05-02 15:05:05,15,3
353249,L80 T,Vuelta,02/05/2022 02:40:26 PM,1190083,BSC,2022-05-02 14:40:26,14,3
353251,L33 T,Ida,02/05/2022 07:25:31 PM,1190085,BSC,2022-05-02 19:25:31,19,3
353253,L54,Ida,02/05/2022 03:27:27 PM,1190086,BSC,2022-05-02 15:27:27,15,3
353262,L16,Ida,02/05/2022 04:02:18 PM,1190092,BSC,2022-05-02 16:02:18,16,3
353263,L73,Vuelta,02/05/2022 02:37:33 PM,1190092,BSC,2022-05-02 14:37:33,14,3
353265,L53,Vuelta,02/05/2022 12:02:36 PM,1190093,BSC,2022-05-02 12:02:36,12,3
353269,L10,Ida,02/05/2022 08:51:58 AM,1190095,BSC,2022-05-02 08:51:58,8,3
353281,L67,Ida,02/05/2022 06:42:22 AM,1190100,BSC,2022-05-02 06:42:22,6,3
353286,L60,Vuelta,02/05/2022 10:21:08 AM,1190103,BSC,2022-05-02 10:21:08,10,3
353287,L17,Ida,02/05/2022 03:07:47 PM,1190104,BSC,2022-05-02 15:07:47,15,3
353292,L62,Ida,02/05/2022 12:52:57 PM,1190107,BSC,2022-05-02 12:52:57,12,3
353297,L18,Ida,02/05/2022 03:22:16 PM,1190109,BSC,2022-05-02 15:22:16,15,3
353304,A601,Ida,02/05/2022 08:30:09 AM,1190113,BSC,2022-05-02 08:30:09,8,3
353306,L13,Vuelta,02/05/2022 03:43:19 PM,1190114,BSC,2022-05-02 15:43:19,15,3
353307,C,Vuelta,02/05/2022 08:40:04 AM,1190115,BSC,2022-05-02 08:40:04,8,3
353330,L83 T,Vuelta,02/05/2022 06:46:53 PM,1190128,BSC,2022-05-02 18:46:53,18,3
353337,L84 T,Ida,02/05/2022 12:35:02 PM,1190131,BSC,2022-05-02 12:35:02,12,3
353343,L30 C,Ida,02/05/2022 09:45:59 AM,1190135,BSC,2022-05-02 09:45:59,9,3
353373,L27,Ida,02/05/2022 09:16:48 AM,1190154,BSC,2022-05-02 09:16:48,9,3
353374,L29,Ida,02/05/2022 09:37:46 AM,1190155,BSC,2022-05-02 09:37:46,9,3
353434,L66,Ida,02/05/2022 12:18:44 PM,1190188,BSC,2022-05-02 12:18:44,12,3
353483,L19,Ida,02/05/2022 02:09:34 PM,1190218,BSC,2022-05-02 14:09:34,14,3
353509,L45,Vuelta,02/05/2022 12:07:53 PM,1190232,BSC,2022-05-02 12:07:53,12,3
353586,B,Vuelta,02/05/2022 08:48:13 AM,1190277,BSC,2022-05-02 08:48:13,8,3
353641,B60,Ida,02/05/2022 02:21:15 PM,1190309,BSC,2022-05-02 14:21:15,14,3
353666,L34 C,Ida,02/05/2022 07:02:38 PM,1190320,BSC,2022-05-02 19:02:38,19,3
353710,A,Vuelta,02/05/2022 11:59:30 AM,1190349,BSC,2022-05-02 11:59:30,11,3
353730,L24,Ida,02/05/2022 09:08:32 PM,1190359,BSC,2022-05-02 21:08:32,21,3
354343,L22,Ida,02/05/2022 08:06:14 AM,1190688,BSC,2022-05-02 08:06:14,8,3
358339,B80-Tamse,Vuelta,02/05/2022 01:24:21 PM,1192974,BEG,2022-05-02 13:24:21,13,1
649938,B80-Tamse,Vuelta,03/05/2022 05:40:23 PM,1285781,Discapacidad,2022-05-03 17:40:23,17,4
803459,B80-Tamse,Vuelta,03/05/2022 01:23:35 PM,1315333,BSC,2022-05-03 13:23:35,13,3
1665479,B80-Tamse,Vuelta,05/05/2022 01:29:33 PM,1167118,Resto,2022-05-05 13:29:33,13,5
2264476,B30,Ida,09/05/2022 09:07:50 PM,1007706,Usuario comun,2022-05-09 21:07:50,21,6
2389166,B30,Ida,09/05/2022 09:06:55 PM,1073493,Discapacidad,2022-05-09 21:06:55,21,4
2567321,B30,Ida,09/05/2022 09:42:38 PM,1167972,Resto,2022-05-09 21:42:38,21,5
2590681,B30,Ida,09/05/2022 09:05:02 PM,1179943,BEG,2022-05-09 21:05:02,21,1
2600665,B30,Ida,09/05/2022 09:16:22 PM,1184495,BOS,2022-05-09 21:16:22,21,2
2608725,B30,Ida,09/05/2022 09:22:36 PM,1188288,Adultos Mayores,2022-05-09 21:22:36,21,0
5291999,B30,Ida,19/05/2022 01:36:35 PM,1190624,BSC,2022-05-19 13:36:35,13,3
5384724,CAU,Ida,20/05/2022 11:37:58 AM,1612275,Usuario comun,2022-05-20 11:37:58,11,6

In [12]:
## HAY MISSINGS ?##
df.isna().sum()

LINEA         0
SENTIDO       0
FECHA         0
TARJETA       0
CONTRATO      0
Fecha2        0
dia_semana    0
dia_numero    0
hora          0
CONTRATO2     0
dtype: int64

In [13]:
## GENERAMOS DUMMIES QUE INDIQUEN DIA DE LA SEMANA, DIA DEL MES, HORA, SENTIDO Y LINEA##
##df = pd.get_dummies(df, columns=['SENTIDO', 'LINEA', 'dia_semana', 'dia_numero', 'hora'])
##PORQUE SE GENERA UNA BASE QUE NO PUEDE CORRER LA COMPU, SE USA DIA PROMEDIO Y HORA PROMEDIO##
df = pd.get_dummies(df, columns=['SENTIDO', 'LINEA', 'dia_semana',])

In [14]:
df.head()

,FECHA,TARJETA,CONTRATO,Fecha2,dia_numero,hora,CONTRATO2,SENTIDO_Ida,SENTIDO_Vuelta,LINEA_A,...,LINEA_L83 T,LINEA_L84 T,LINEA_L85 T,dia_semana_Friday,dia_semana_Monday,dia_semana_Saturday,dia_semana_Sunday,dia_semana_Thursday,dia_semana_Tuesday,dia_semana_Wednesday
0,02/05/2022 04:36:14 PM,1000001,Usuario comun,2022-05-02 16:36:14,02,16,6,1,0,0,...,0,0,0,0,1,0,0,0,0,0
1,02/05/2022 10:22:27 PM,1000002,Usuario comun,2022-05-02 22:22:27,02,22,6,1,0,0,...,0,0,0,0,1,0,0,0,0,0
2,02/05/2022 03:20:12 PM,1000003,Usuario comun,2022-05-02 15:20:12,02,15,6,1,0,0,...,0,0,0,0,1,0,0,0,0,0
3,02/05/2022 09:18:06 AM,1000003,Usuario comun,2022-05-02 09:18:06,02,9,6,0,1,0,...,0,0,0,0,1,0,0,0,0,0
4,02/05/2022 06:56:40 AM,1000004,Usuario comun,2022-05-02 06:56:40,02,6,6,1,0,0,...,0,0,0,0,1,0,0,0,0,0

In [15]:
y=df.CONTRATO2

In [16]:
## ELIMINAMOS COLUMNAS QUE YA NO SIRVEN##
df = df.drop(['FECHA', 'Fecha2', 'CONTRATO'], axis = 1)

In [17]:
## OBTENEMOS HORA PROMEDIO Y DIA PROMEDIO POR TARJETA##
df['hora_promedio']= df.groupby('TARJETA')['hora'].transform('mean')
df['dia_promedio']= df.groupby('TARJETA')['dia_numero'].transform('mean')

In [18]:
## SUMAMOS LA CANTIDAD DE VIAJES POR DIA DE LA SEMANA##
df['cant_lunes']= df.groupby('TARJETA')['dia_semana_Monday'].transform('sum')
df['cant_martes']= df.groupby('TARJETA')['dia_semana_Tuesday'].transform('sum')                           
df['cant_miercoles']= df.groupby('TARJETA')['dia_semana_Wednesday'].transform('sum') 
df['cant_jueves']= df.groupby('TARJETA')['dia_semana_Thursday'].transform('sum')                                
df['cant_viernes']= df.groupby('TARJETA')['dia_semana_Friday'].transform('sum')                             
df['cant_sabado']= df.groupby('TARJETA')['dia_semana_Saturday'].transform('sum') 
df['cant_domingo']= df.groupby('TARJETA')['dia_semana_Sunday'].transform('sum')

In [19]:
## CONTAMOS LOS VIAJES DE IDA Y VUELTA POR TARJETA##
df['cant_ida']= df.groupby('TARJETA')['SENTIDO_Ida'].transform('sum')
df['cant_vuelta']= df.groupby('TARJETA')['SENTIDO_Vuelta'].transform('sum')
df

,TARJETA,dia_numero,hora,CONTRATO2,SENTIDO_Ida,SENTIDO_Vuelta,LINEA_A,LINEA_A1,LINEA_A600,LINEA_A601,...,dia_promedio,cant_lunes,cant_martes,cant_miercoles,cant_jueves,cant_viernes,cant_sabado,cant_domingo,cant_ida,cant_vuelta
0,1000001,02,16,6,1,0,0,0,0,0,...,1.020202e+37,10,0,4,0,6,0,0,10,10
1,1000002,02,22,6,1,0,0,0,0,0,...,5.076262e+05,1,1,0,2,0,0,0,2,2
2,1000003,02,15,6,1,0,0,0,0,0,...,9.183655e+40,10,4,2,6,0,0,0,11,11
3,1000003,02,9,6,0,1,0,0,0,0,...,9.183655e+40,10,4,2,6,0,0,0,11,11
4,1000004,02,6,6,1,0,0,0,0,0,...,3.885006e+100,14,10,5,11,12,0,0,36,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8430645,1237215,31,9,6,0,1,0,0,0,0,...,8.417934e+44,9,3,3,3,6,0,0,11,13
8430646,1677773,31,14,6,1,0,0,0,0,0,...,1.365500e+03,0,1,0,0,1,0,0,1,1
8430647,1237216,31,19,6,0,1,0,0,0,0,...,1.457431e+25,5,2,3,4,0,0,0,6,8
8430648,1237218,31,14,6,1,0,0,0,0,0,...,1.122391e+33,7,3,3,2,3,0,0,10,8
8430649,1595584,31,20,6,0,1,0,0,0,0,...,2.032828e+14,1,1,0,3,3,0,0,5,3

In [20]:
df.columns

Index(['TARJETA', 'dia_numero', 'hora', 'CONTRATO2', 'SENTIDO_Ida',
       'SENTIDO_Vuelta', 'LINEA_A', 'LINEA_A1', 'LINEA_A600', 'LINEA_A601',
       'LINEA_AeroBus', 'LINEA_B', 'LINEA_B1', 'LINEA_B30', 'LINEA_B60',
       'LINEA_B80-Tamse', 'LINEA_C', 'LINEA_C1', 'LINEA_CAU', 'LINEA_L10',
       'LINEA_L11', 'LINEA_L12', 'LINEA_L13', 'LINEA_L14', 'LINEA_L15',
       'LINEA_L16', 'LINEA_L17', 'LINEA_L18', 'LINEA_L19', 'LINEA_L20',
       'LINEA_L22', 'LINEA_L23', 'LINEA_L24', 'LINEA_L25', 'LINEA_L26',
       'LINEA_L27', 'LINEA_L28', 'LINEA_L29', 'LINEA_L30 C', 'LINEA_L31 T',
       'LINEA_L32 T', 'LINEA_L33 T', 'LINEA_L34 C', 'LINEA_L35 T',
       'LINEA_L36 T', 'LINEA_L40 E', 'LINEA_L41 E', 'LINEA_L42 E',
       'LINEA_L43 E', 'LINEA_L44 E', 'LINEA_L45', 'LINEA_L50', 'LINEA_L51',
       'LINEA_L52', 'LINEA_L53', 'LINEA_L54', 'LINEA_L60', 'LINEA_L61',
       'LINEA_L62', 'LINEA_L63', 'LINEA_L64', 'LINEA_L65', 'LINEA_L66',
       'LINEA_L67', 'LINEA_L68', 'LINEA_L70', 'LINEA_L71', 'LINEA_L72',
       'LINEA_L73', 'LINEA_L74', 'LINEA_L75', 'LINEA_L80 T', 'LINEA_L81 T',
       'LINEA_L82 T', 'LINEA_L83 T', 'LINEA_L84 T', 'LINEA_L85 T',
       'dia_semana_Friday', 'dia_semana_Monday', 'dia_semana_Saturday',
       'dia_semana_Sunday', 'dia_semana_Thursday', 'dia_semana_Tuesday',
       'dia_semana_Wednesday', 'hora_promedio', 'dia_promedio', 'cant_lunes',
       'cant_martes', 'cant_miercoles', 'cant_jueves', 'cant_viernes',
       'cant_sabado', 'cant_domingo', 'cant_ida', 'cant_vuelta'],
      dtype='object')

In [21]:
###RESGUARDAMOS VARIABLES DUMMIES QUE INDICAN QUE LINEA UTILIZA ESA TARJETA, ANTES DE COLAPSAR LA BASE##
lista=['LINEA_A', 'LINEA_A1','LINEA_A600', 'LINEA_A601', 'LINEA_AeroBus', 'LINEA_B', 'LINEA_B1', 'LINEA_B30', 'LINEA_B60', 'LINEA_B80-Tamse', 'LINEA_C', 'LINEA_C1', 'LINEA_CAU', 'LINEA_L10', 'LINEA_L11','LINEA_L12', 'LINEA_L13', 'LINEA_L14', 'LINEA_L15', 'LINEA_L16','LINEA_L17', 'LINEA_L18', 'LINEA_L19', 'LINEA_L20', 'LINEA_L22','LINEA_L23', 'LINEA_L24', 'LINEA_L25', 'LINEA_L26', 'LINEA_L27','LINEA_L28', 'LINEA_L29', 'LINEA_L30 C', 'LINEA_L31 T', 'LINEA_L32 T','LINEA_L33 T', 'LINEA_L34 C', 'LINEA_L35 T', 'LINEA_L36 T','LINEA_L40 E', 'LINEA_L41 E', 'LINEA_L42 E', 'LINEA_L43 E', 'LINEA_L44 E', 'LINEA_L45', 'LINEA_L50', 'LINEA_L51', 'LINEA_L52','LINEA_L53', 'LINEA_L54', 'LINEA_L60', 'LINEA_L61', 'LINEA_L62','LINEA_L63', 'LINEA_L64', 'LINEA_L65', 'LINEA_L66', 'LINEA_L67','LINEA_L68', 'LINEA_L70', 'LINEA_L71', 'LINEA_L72', 'LINEA_L73','LINEA_L74', 'LINEA_L75', 'LINEA_L80 T', 'LINEA_L81 T', 'LINEA_L82 T','LINEA_L83 T', 'LINEA_L84 T', 'LINEA_L85 T']
for col in df.columns:
    if col in lista:
        df[col]= df.groupby('TARJETA')[col].transform('max')

In [22]:
##NOS QUEDAMOS CON UNA TARJETA POR FILA##
df=df.drop_duplicates(subset=['TARJETA'], keep='last')

In [23]:
df.shape

(698084, 95)

In [24]:
###EXPORTO LA BASE PROCESADA PARA NO TENER QUE ESPERAR EN CADA ENSAYO, TODO EL TIEMPO DE PROCESAMIENTO Y/O COLAPSAR LA MEMORIA##
df.to_csv(r'D:\Documentos Mauricio\Desktop\Diplomatura FAMAF2022\Mentoría_Sistema de Transporte Urbano\Practico 3\base_procesada.csv')