In [ ]:
from google.colab import drive
drive.mount('/content/drive/', force_remount=True )
import pandas as pd
#%cd /content/drive/My Drive/bases_mentoria/
#path= '/content/drive/My Drive/bases_mentoria/primer trimestre 2019'
path= '/content/drive/My Drive/Mentoria/primer trimestre 2019'
import glob
filenames = glob.glob(path + "/*.csv")

dfs = []
for filename in filenames:
    dfs.append(pd.read_csv(filename, encoding='latin-1', sep=";"))

# Concatenate all data into one DataFrame
big_frame = pd.concat(dfs, ignore_index=True)

big_frame.head()

Mounted at /content/drive/

,FECHA,FECHAAPERTURA,TARJETA,CORREDOR,LINEA,SENTIDO
0,01/01/2019 01:32:43 AM,01/01/2019 01:00:11 AM,4992639,Cor 3 Rojo,L35,Ida
1,01/01/2019 02:26:11 AM,01/01/2019 01:00:11 AM,5489022,Cor 3 Rojo,L35,Vuelta
2,01/01/2019 02:26:14 AM,01/01/2019 01:00:11 AM,5489022,Cor 3 Rojo,L35,Vuelta
3,01/01/2019 02:32:27 AM,01/01/2019 01:59:31 AM,5317539,Cor 1 Naranja,L12,Vuelta
4,01/01/2019 02:57:48 AM,01/01/2019 01:59:31 AM,4451141,Cor 1 Naranja,L12,Vuelta

In [ ]:
big_frame['m'] = big_frame.FECHA.astype(str).str[:10].astype(str)

In [ ]:
big_frame['hora'] = big_frame.FECHA.astype(str).str[11:].astype(str)

In [ ]:
big_frame['aux']=big_frame.FECHA.astype(str).str[19:].astype(str)

In [ ]:
big_frame['aux2']=big_frame.hora.astype(str).str[:2].astype(str)

In [ ]:
big_frame['hh']=big_frame.aux2 + big_frame.aux

In [ ]:
big_frame.sort_values(by=['hh'], inplace=True)

In [ ]:
big_frame.m.value_counts()

28/03/2019    176887
29/03/2019    176481
13/03/2019    174942
12/03/2019    173855
11/03/2019    173682
               ...
20/01/2019     34871
27/01/2019     34737
13/01/2019     29166
06/01/2019     22635
01/01/2019     13487
Name: m, Length: 90, dtype: int64

In [ ]:
big_frame['dia'] = pd.to_datetime(big_frame['m'])
big_frame['dia'] = big_frame['dia'].dt.strftime('%d.%m.%Y')

In [ ]:
big_frame.dia.value_counts()

28.03.2019    176887
29.03.2019    176481
13.03.2019    174942
03.12.2019    173855
03.11.2019    173682
               ...
20.01.2019     34871
27.01.2019     34737
13.01.2019     29166
01.06.2019     22635
01.01.2019     13487
Name: dia, Length: 90, dtype: int64

In [ ]:
big_frame['dia2'] = pd.to_datetime(big_frame['dia'])

In [ ]:

### EJERCICIO 1: INTERACTUAR CON BASES, CONVERTIR FORMATOS FECHAS, GENERAR VARIABLES NUEVAS (MES DIA )###
big_frame['day_of_week'] = big_frame['dia2'].dt.day_name()
big_frame['MES']= big_frame['dia2'].dt.to_period('M')

In [ ]:
big_frame.MES.value_counts()

2019-03    3911586
2019-02    3350995
2019-01    3027469
Freq: M, Name: MES, dtype: int64

In [ ]:
big_frame.shape

(10290050, 15)

In [ ]:
###EJERCICIO 2: 
##APLICAR ESTAD√çSTICOS DESCRIPTIVOS SOBRE CORTES DE BOLETOS: 
##1) TARJETAS: CANTIDAD DE USOS POR MES (TAB), CANTIDAD DIAS AL MES USADAS, IDENTIFICAR OUTLIERS
big_frame['AUX']=1
big_frame['VIAJES_POR_TARJETA_DIA']=big_frame.groupby(['TARJETA', 'dia2'])['AUX'].transform('sum')
big_frame['VIAJES_POR_TARJETA_MES']=big_frame.groupby(['TARJETA', 'MES'])['AUX'].transform('sum')


big_frame= big_frame.drop_duplicates(['dia2', 'MES', 'TARJETA'])
big_frame.head()
big_frame=big_frame.loc[:,['dia2', 'VIAJES_POR_TARJETA_DIA','VIAJES_POR_TARJETA_MES', 'MES', 'TARJETA' ]]
#df1.to_csv("df1.csv", index=None)
#from google.colab import files
#files.download('df1.csv')

In [ ]:
sum(big_frame.VIAJES_POR_TARJETA_DIA)

10290050

In [ ]:
viajes_1t19= big_frame
viajes_1t19.to_csv("viajes_tarjeta_1t19.csv", index=None)
from google.colab import files
files.download('viajes_tarjeta_1t19.csv')

In [ ]:
##LO MISMO PARA EL SEGUNDO TRIMESTRE DE 2019#
from google.colab import drive
drive.mount('/content/drive/', force_remount=True )
import pandas as pd
#%cd /content/drive/My Drive/bases_mentoria/
path= '/content/drive/My Drive/Mentoria/segundo trimestre 2019'
import glob
filenames = glob.glob(path + "/*.csv")

dfs = []
for filename in filenames:
    dfs.append(pd.read_csv(filename, encoding='latin-1', sep=";"))

# Concatenate all data into one DataFrame
big_frame = pd.concat(dfs, ignore_index=True)

big_frame.head()

Mounted at /content/drive/

,FECHA,FECHAAPERTURA,TARJETA,CORREDOR,LINEA,SENTIDO
0,05/04/2019 12:00:08 AM,04/04/2019 10:02:49 PM,4884082,Cor 8 Rojo,L82,Vuelta
1,05/04/2019 12:00:10 AM,04/04/2019 11:30:03 PM,5871414,TROLE,B,Vuelta
2,05/04/2019 12:00:12 AM,04/04/2019 10:43:21 PM,5813430,Cor 7 Azul,L75,Vuelta
3,05/04/2019 12:00:13 AM,04/04/2019 11:42:13 PM,3262031,Cor 2 Azul,L26,Ida
4,05/04/2019 12:00:15 AM,04/04/2019 10:59:19 PM,5791090,Cor 7 Azul,L74,Vuelta

In [ ]:
big_frame['m'] = big_frame.FECHA.astype(str).str[:10].astype(str)

In [ ]:
big_frame['hora'] = big_frame.FECHA.astype(str).str[11:].astype(str)

In [ ]:
big_frame['aux']=big_frame.FECHA.astype(str).str[19:].astype(str)

In [ ]:
big_frame['aux2']=big_frame.hora.astype(str).str[:2].astype(str)

In [ ]:
big_frame['hh']=big_frame.aux2 + big_frame.aux

In [ ]:
big_frame.sort_values(by=['hh'], inplace=True)

In [ ]:
big_frame.m.value_counts()

10/05/2019    191236
14/06/2019    189752
07/06/2019    188931
13/06/2019    188717
16/05/2019    188680
               ...
05/05/2019     41274
21/04/2019     39324
16/06/2019     37555
01/05/2019       555
29/05/2019       383
Name: m, Length: 91, dtype: int64

In [ ]:
big_frame['dia'] = pd.to_datetime(big_frame['m'])
big_frame['dia'] = big_frame['dia'].dt.strftime('%d.%m.%Y')

In [ ]:
big_frame.dia.value_counts()

05.10.2019    191236
14.06.2019    189752
06.07.2019    188931
13.06.2019    188717
16.05.2019    188680
               ...
05.05.2019     41274
21.04.2019     39324
16.06.2019     37555
05.01.2019       555
29.05.2019       383
Name: dia, Length: 91, dtype: int64

In [ ]:
big_frame['dia2'] = pd.to_datetime(big_frame['dia'])

In [ ]:
### EJERCICIO 1: INTERACTUAR CON BASES, CONVERTIR FORMATOS FECHAS, GENERAR VARIABLES NUEVAS (MES DIA )###
big_frame['MES']= big_frame['dia2'].dt.to_period('M')

In [ ]:
big_frame.shape

(12607201, 14)

In [ ]:
###EJERCICIO 2: 
##APLICAR ESTAD√çSTICOS DESCRIPTIVOS SOBRE CORTES DE BOLETOS: 
##1) TARJETAS: CANTIDAD DE USOS POR MES (TAB), CANTIDAD DIAS AL MES USADAS, IDENTIFICAR OUTLIERS
big_frame['AUX']=1
big_frame['VIAJES_POR_TARJETA_DIA']=big_frame.groupby(['TARJETA', 'dia2'])['AUX'].transform('sum')
big_frame['VIAJES_POR_TARJETA_MES']=big_frame.groupby(['TARJETA', 'MES'])['AUX'].transform('sum')


big_frame= big_frame.drop_duplicates(['dia2', 'MES', 'TARJETA'])
big_frame.head()
big_frame=big_frame.loc[:,['dia2', 'VIAJES_POR_TARJETA_DIA','VIAJES_POR_TARJETA_MES', 'MES', 'TARJETA' ]]
#df1.to_csv("df1.csv", index=None)
#from google.colab import files
#files.download('df1.csv')

In [ ]:
big_frame.shape

In [ ]:
sum(big_frame.VIAJES_POR_TARJETA_DIA)

12607201

In [ ]:
viajes_2t19= big_frame
viajes_2t19.to_csv("viajes_tarjeta_2t19.csv", index=None)
from google.colab import files
files.download('viajes_tarjeta_2t19.csv')

In [ ]:
##LO MISMO PARA EL TERCER TRIMESTRE DE 2019#
from google.colab import drive
drive.mount('/content/drive/', force_remount=True )
import pandas as pd
#%cd /content/drive/My Drive/bases_mentoria/
path= '/content/drive/My Drive/Mentoria/tercer trimestre 2019'
import glob
filenames = glob.glob(path + "/*.csv")

dfs = []
for filename in filenames:
    dfs.append(pd.read_csv(filename, encoding='latin-1', sep=";"))

# Concatenate all data into one DataFrame
big_frame = pd.concat(dfs, ignore_index=True)

big_frame.head()

Mounted at /content/drive/

,FECHA,FECHAAPERTURA,TARJETA,CORREDOR,LINEA,SENTIDO
0,06/07/2019 12:00:07 AM,05/07/2019 11:28:07 PM,5099043,Cor 1 Naranja,L12,Ida
1,06/07/2019 12:00:29 AM,05/07/2019 11:32:24 PM,5515754,Cor 6 Naranja,L67,Ida
2,06/07/2019 12:00:29 AM,05/07/2019 11:05:36 PM,4971142,Cor 5 Amarillo,L50,Vuelta
3,06/07/2019 12:00:30 AM,05/07/2019 11:05:36 PM,4971142,Cor 5 Amarillo,L50,Vuelta
4,06/07/2019 12:00:33 AM,05/07/2019 11:05:36 PM,4971142,Cor 5 Amarillo,L50,Vuelta

In [ ]:
big_frame['m'] = big_frame.FECHA.astype(str).str[:10].astype(str)

In [ ]:
big_frame['hora'] = big_frame.FECHA.astype(str).str[11:].astype(str)

In [ ]:
big_frame['aux']=big_frame.FECHA.astype(str).str[19:].astype(str)

In [ ]:
big_frame['aux2']=big_frame.hora.astype(str).str[:2].astype(str)

In [ ]:
big_frame['hh']=big_frame.aux2 + big_frame.aux

In [ ]:
big_frame.sort_values(by=['hh'], inplace=True)

In [ ]:
big_frame.m.value_counts()

07/08/2019    186394
16/08/2019    185234
09/08/2019    184550
13/08/2019    183662
06/08/2019    183536
               ...
01/09/2019     42460
22/09/2019     42280
07/07/2019     40755
28/07/2019     40682
12/07/2019       104
Name: m, Length: 92, dtype: int64

In [ ]:
big_frame['dia'] = pd.to_datetime(big_frame['m'])
big_frame['dia'] = big_frame['dia'].dt.strftime('%d.%m.%Y')

In [ ]:
big_frame.dia.value_counts()

08.07.2019    186394
16.08.2019    185234
08.09.2019    184550
13.08.2019    183662
08.06.2019    183536
               ...
09.01.2019     42460
22.09.2019     42280
07.07.2019     40755
28.07.2019     40682
07.12.2019       104
Name: dia, Length: 92, dtype: int64

In [ ]:
big_frame['dia2'] = pd.to_datetime(big_frame['dia'])

In [ ]:
### EJERCICIO 1: INTERACTUAR CON BASES, CONVERTIR FORMATOS FECHAS, GENERAR VARIABLES NUEVAS (MES DIA )###
big_frame['day_of_week'] = big_frame['dia2'].dt.day_name()
big_frame['MES']= big_frame['dia2'].dt.to_period('M')

In [ ]:
big_frame.shape

(12718216, 11)

In [ ]:
###EJERCICIO 2: 
##APLICAR ESTAD√çSTICOS DESCRIPTIVOS SOBRE CORTES DE BOLETOS: 
##1) TARJETAS: CANTIDAD DE USOS POR MES (TAB), CANTIDAD DIAS AL MES USADAS, IDENTIFICAR OUTLIERS
big_frame['AUX']=1
big_frame['VIAJES_POR_TARJETA_DIA']=big_frame.groupby(['TARJETA', 'dia2'])['AUX'].transform('sum')
big_frame['VIAJES_POR_TARJETA_MES']=big_frame.groupby(['TARJETA', 'MES'])['AUX'].transform('sum')


big_frame= big_frame.drop_duplicates(['dia2', 'MES', 'TARJETA'])
big_frame.head()
big_frame=big_frame.loc[:,['dia2', 'VIAJES_POR_TARJETA_DIA','VIAJES_POR_TARJETA_MES', 'MES', 'TARJETA' ]]
#df1.to_csv("df1.csv", index=None)
#from google.colab import files
#files.download('df1.csv')

In [ ]:
big_frame.head()

        dia2  VIAJES_POR_TARJETA_DIA  VIAJES_POR_TARJETA_MES      MES  TARJETA
0 2019-07-06                       2                      29  2019-07  5099043
1 2019-07-06                       6                      97  2019-07  5515754
2 2019-07-06                       5                      21  2019-07  4971142
5 2019-07-06                       8                     104  2019-07  4859592
6 2019-07-06                       5                      42  2019-07  4921348

In [ ]:
sum(big_frame.VIAJES_POR_TARJETA_DIA)

12718216

In [ ]:
viajes_3t19= big_frame
viajes_3t19.to_csv("viajes_tarjeta_3t19.csv", index=None)
from google.colab import files
files.download('viajes_tarjeta_3t19.csv')

In [ ]:
##LO MISMO PARA EL CUARTO TRIMESTRE DE 2019#
from google.colab import drive
drive.mount('/content/drive/', force_remount=True )
import pandas as pd
#%cd /content/drive/My Drive/bases_mentoria/
path= '/content/drive/My Drive/Mentoria/cuarto trimestre 2019'
import glob
filenames = glob.glob(path + "/*.csv")

dfs = []
for filename in filenames:
    dfs.append(pd.read_csv(filename, encoding='latin-1', sep=";"))

# Concatenate all data into one DataFrame
big_frame = pd.concat(dfs, ignore_index=True)

big_frame.head()

Mounted at /content/drive/

,FECHA,FECHAAPERTURA,TARJETA,CORREDOR,LINEA,SENTIDO
0,06/10/2019 12:00:05 AM,05/10/2019 11:02:36 PM,5969486,Cor 7 Azul,L75,Vuelta
1,06/10/2019 12:00:09 AM,05/10/2019 11:26:36 PM,5943292,Cor 1 Naranja,L13,Ida
2,06/10/2019 12:00:13 AM,05/10/2019 11:46:15 PM,3497303,Cor 3 Rojo,L33,Ida
3,06/10/2019 12:00:15 AM,05/10/2019 11:46:15 PM,4659858,Cor 3 Rojo,L33,Ida
4,06/10/2019 12:00:18 AM,05/10/2019 10:27:52 PM,5325561,Cor 6 Naranja,L60,Vuelta

In [ ]:
big_frame['m'] = big_frame.FECHA.astype(str).str[:10].astype(str)

In [ ]:
big_frame['hora'] = big_frame.FECHA.astype(str).str[11:].astype(str)

In [ ]:
big_frame['aux']=big_frame.FECHA.astype(str).str[19:].astype(str)

In [ ]:
big_frame['aux2']=big_frame.hora.astype(str).str[:2].astype(str)

In [ ]:
big_frame['hh']=big_frame.aux2 + big_frame.aux

In [ ]:
big_frame.sort_values(by=['hh'], inplace=True)

In [ ]:
big_frame.m.value_counts()

In [ ]:
big_frame['dia'] = pd.to_datetime(big_frame['m'])
big_frame['dia'] = big_frame['dia'].dt.strftime('%d.%m.%Y')

In [ ]:
big_frame.info()

In [ ]:
big_frame.dia.value_counts()

In [ ]:
big_frame['dia2'] = pd.to_datetime(big_frame['dia'])

In [ ]:
### EJERCICIO 1: INTERACTUAR CON BASES, CONVERTIR FORMATOS FECHAS, GENERAR VARIABLES NUEVAS (MES DIA )###
big_frame['day_of_week'] = big_frame['dia2'].dt.day_name()
big_frame['MES']= big_frame['dia2'].dt.to_period('M')

In [ ]:
big_frame.shape

In [ ]:
###EJERCICIO 2: 
##APLICAR ESTAD√çSTICOS DESCRIPTIVOS SOBRE CORTES DE BOLETOS: 
##1) TARJETAS: CANTIDAD DE USOS POR MES (TAB), CANTIDAD DIAS AL MES USADAS, IDENTIFICAR OUTLIERS
big_frame['AUX']=1
big_frame['VIAJES_POR_TARJETA_DIA']=big_frame.groupby(['TARJETA', 'dia2'])['AUX'].transform('sum')
big_frame['VIAJES_POR_TARJETA_MES']=big_frame.groupby(['TARJETA', 'MES'])['AUX'].transform('sum')


big_frame= big_frame.drop_duplicates(['dia2', 'MES', 'TARJETA'])
big_frame.head()
big_frame=big_frame.loc[:,['dia2', 'VIAJES_POR_TARJETA_DIA','VIAJES_POR_TARJETA_MES', 'MES', 'TARJETA' ]]
#df1.to_csv("df1.csv", index=None)
#from google.colab import files
#files.download('df1.csv')

In [ ]:
big_frame.shape

In [ ]:
sum(big_frame.VIAJES_POR_TARJETA_DIA)

11194642

In [ ]:
viajes_4t19= big_frame
viajes_4t19.to_csv("viajes_tarjeta_4t19.csv", index=None)
from google.colab import files
files.download('viajes_tarjeta_4t19.csv')